:host {
  display: block;
}

@keyframes gradient {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
  }
  33% {
    transform: translate(50px, -50px) rotate(120deg);
  }
  66% {
    transform: translate(-50px, 50px) rotate(240deg);
  }
}

.animate-gradient {
  animation: gradient 20s ease-in-out infinite;
}
