<div class="home-page">
  <app-hero class="snap-center block"></app-hero>
  <app-banner class="snap-center block"></app-banner>
  <app-pioneers class="snap-center block"></app-pioneers>
  <app-about-overview class="snap-center block"></app-about-overview>
  <app-services-overview class="snap-center block"></app-services-overview>
  <app-projects-showcase class="snap-center block"></app-projects-showcase>
  <app-why-choose-us class="snap-center block"></app-why-choose-us>
  <app-testimonials class="snap-center block"></app-testimonials>
  <app-newsletter class="snap-center block"></app-newsletter>
  <app-faq class="snap-center block"></app-faq>
  <app-final-cta class="snap-center block"></app-final-cta>
</div>
