<div class="home-page">
  <app-hero class="block"></app-hero>
  <app-banner class="block"></app-banner>
  <app-pioneers class="block"></app-pioneers>
  <app-about-overview class="block"></app-about-overview>
  <app-services-overview class="block"></app-services-overview>
  <app-projects-showcase class="block"></app-projects-showcase>
  <app-why-choose-us class="block"></app-why-choose-us>
  <app-testimonials class="block"></app-testimonials>
  <app-newsletter class="block"></app-newsletter>
  <app-faq class="block"></app-faq>
  <app-final-cta class="block"></app-final-cta>
</div>
