<app-section [variant]="'light'" [withGradients]="true" [gradientVariant]="'left'" id="projects">
  <app-container>
    <div class="section-header">
      <p class="section-tag">
        {{ content.heading[currentLang()] }}
      </p>
      <h2 class="section-title">
        {{ content.title[currentLang()] }}
      </h2>
      <p class="section-description">
        {{ content.description[currentLang()] }}
      </p>
    </div>

    <div class="slider-wrapper">
      <app-projects-slider [projects]="projects" [currentLang]="currentLang()" [autoSlide]="false">
      </app-projects-slider>
    </div>

    <div class="cta-wrapper">
      <a class="cta-link" routerLink="/projects">
        {{ content.cta[currentLang()] }}
        <svg
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </a>
    </div>
  </app-container>
</app-section>
