<app-section [variant]="'light'" [withGradients]="true" [gradientVariant]="'left'" id="projects">
  <app-container>
    <div class="section-header">
      <p class="section-tag">
        {{ content.heading[currentLang()] }}
      </p>
      <h2 class="section-title">
        {{ content.title[currentLang()] }}
      </h2>
      <p class="section-description">
        {{ content.description[currentLang()] }}
      </p>
    </div>

    <div class="slider-wrapper">
      <app-projects-slider [projects]="projects" [currentLang]="currentLang()" [autoSlide]="false">
      </app-projects-slider>
    </div>

    <div class="text-center mt-12">
      <app-button [variant]="'primary'" [routerLink]="'/projects'">
        {{ content.cta[currentLang()] }}
      </app-button>
    </div>
  </app-container>
</app-section>
