/* =================================
   Bahij TheSansArabic Font Family
   Self-hosted for optimal performance
   ================================= */

/* ExtraLight - Weight 200 */
@font-face {
  font-family: 'Bahij TheSansArabic';
  src: url('/assets/fonts/Bahij_TheSansArabic-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Light - Weight 300 */
@font-face {
  font-family: 'Bahij TheSansArabic';
  src: url('/assets/fonts/Bahij_TheSansArabic-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Plain/Regular - Weight 400 */
@font-face {
  font-family: 'Bahij TheSansArabic';
  src: url('/assets/fonts/Bahij_TheSansArabic-Plain.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* SemiBold - Weight 600 */
@font-face {
  font-family: 'Bahij TheSansArabic';
  src: url('/assets/fonts/Bahij_TheSansArabic-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* ExtraBold - Weight 800 */
@font-face {
  font-family: 'Bahij TheSansArabic';
  src: url('/assets/fonts/Bahij_TheSansArabic-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Black - Weight 900 */
@font-face {
  font-family: 'Bahij TheSansArabic';
  src: url('/assets/fonts/Bahij_TheSansArabic-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
